<head>
<title>Admin Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<center><h1>Welcome To Admin Home Page</h1></center>
<br>
<hr style="width: 50%;" size="2">
<center><h2>Here You Can Access Details of All Accounts and All URLs.</h2></center>
<br>
<center>
    <a href="{{url_for('admin_accounts')}}">
        <button style="font-size:24px; background: none; cursor: pointer;">Accounts <i class="fa fa-user"></i>
        </button>
    </a>
</center>